<nav>
  <ul class="parent">
    <li>
      <a href="/index">
        Ui-path 
      </a>
    </li>
    <li><a href=""> About Us </a></li>
    <li id="dark" class="mode">change mode</li>
    <li><a href="/dashboard"> Dashboard </a></li>
  </ul>
</nav>