<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>

  <body id="body"  >

    <header class="myheader">
      <h1>Orchestrator</h1>
    <%- include("./partials/nav") %>
    </header>

    <main id="main">
    <section>
        <h1>
            Main Entities  </h1>
            <div class="box">
            <article>
                <h2>
                    Robot
                </h2>
                <p>
                    Manage Registered Robots
                </p>
                <a href="/robots"> Manage 
                    
                </a>
            </article>
            <article>
              <h2>
                  Machine
              </h2>
              <p>
                Manage Registered Machines
            </p>
              <a href="/machines"> Manage 

              </a>
          </article>
          <article>
            <h2>
                User
            </h2>
            <p>
                Manage Registered Users
            </p>
            <a href="/users"> Manage 

            </a>
        </article>
        <article>
          <h2>
              Process
          </h2>
          <p>
            Manage Registered Processes
        </p>
          <a href="/processes"> Manage 

          </a>
      </article>
      </div>
      
    </section>
    </main>

    <%- include("./partials/footer")%>
    
  </body>
</html>
