<!DOCTYPE html>


<html lang="en">
  <%- include("../partials/head") %>

  <body id="body"  >

    <header class="myheader">
      <h1>RPA Development</h1>
      <%- include("../partials/nav") %>
    </header>

    <main id="main"> 
        <section>
            <h1>
                Create New Robot
            </h1>
            <br>
            <form action="/robots" method="POST" >
                <label for="name">Name</label>
                <input id="name" name="name" type="text"  required> 
                <br>
                <label for="str">Standard Robot</label>
                <input id="str" name="standard" type="checkbox" value="standard">
                <!-- <br> -->
                <label for="att">Attended Robot</label>
                <input id="att" name="attended" type="checkbox" value="attended">
                <!-- <br> -->
                <label for="user">Select User</label>
                <input id="user" name="user" list="users">
                <datalist id="users">
                  <% users.forEach(user => { %>
                  <option value="<%= user.name %>">
                    <% }) %>
                </datalist>
                <br>
                <button>Add</button>
            </form>
        </section>
    </main>

    <%- include("../partials/footer") %>

    
  </body>
</html>
